/* TODO: Change display types to see how width/height/padding behave */
.demo-inline {
  display: inline;
  background: #fee;
  width: 150px;    /* This will be ignored while display is 'inline' */
  padding: 20px;   /* Vertical padding might overlap other text! */
}
}
.demo-block {
  display: inline;
  background: #eef;
  width: 220px;
}
